.my-link {
  display: inline-block;
  text-decoration: none;
  transition: all 0.2s;
}
.my-link:hover {
  transform: scale(1.1);
  color: rgb(0, 114, 252);
}
.my-font-color {
  color: #003366;
}

.my-bg {
  background-color: #e2e8f0;
  border-radius: 16px;
}

.my-img {
  width: 250px;
  height: 250px;
  object-fit: contain;
}

.my-description-product {
  display: none;
}

.active {
  color: #0080ff;
}

.my-loader {
  border: 5px solid black;
  height: 50px;
  border-top-color: #0080ff;
  width: 50px;
  border-radius: 50%;
  animation: rotate 1s linear infinite;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
