.my-link {
  display: inline-block;
  text-decoration: none;
  transition: all 0.2s;
}
.my-link:hover {
  transform: scale(1.1);
  color: rgb(0, 114, 252);
}
.my-font-color {
  color: #003366;
}

.my-bg {
  background-color: #e2e8f0;
  border-radius: 16px;
}

.my-img {
  width: 250px;
  height: 250px;
  object-fit: contain;
}

.my-product {
  transition: all 0.3s;
  position: relative;
  z-index: 1;
}

.my-description-product {
  display: none;
}

.my-product:hover {
  transform: scale(1.4);
  height: 100% !important;
  z-index: 2;
}
.my-product:hover .my-description-product {
  display: block;
}
.active {
  color: #0080ff;
}
